{% extends "global/Notifications.html" %}

{% block app_styles %}
<link rel="stylesheet" href="{% static 'global/css/FriendlyChecks.css' %}">
{% endblock %}

{% block app_scripts %}
    <script src="{% static 'global/js/FriendlyChecks.js' %}"></script> 
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const GameBody = document.getElementById('practice-text');
            InitializeCalibration(GameBody);             // Initialize FS and focus checks
        });
    </script>
{% endblock %}
